.faq{
    margin: 15px;
    background-color: rgb(229, 231, 233);
    padding: 15px;
    border-radius: 7px;
    box-shadow: 1.5px 1.5px #2c2c2c;
}
.faq div{
    display: flex;
    justify-content: space-between;
}
p{
    font-size: 14px;
    text-align: start;
    font-weight: normal;
}
.faq button{
    width: 30px;
    font-size: 20px;
}